# Introduction to Scikit Learn Classification Model

### Importing Data and Modules

In [1]:
import pandas as pd
import numpy as np
titanic_data = pd.read_csv('train.csv', encoding='latin-1')
titanic_data.dropna(inplace=True)
titanic_data["Sex"].replace('female', 0, inplace=True)
titanic_data["Sex"].replace('male', 1, inplace=True)
titanic_data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",1,54.0,0,0,17463,51.8625,E46,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",0,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",0,58.0,0,0,113783,26.5500,C103,S
...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",0,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",1,33.0,0,0,695,5.0000,B51 B53 B55,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",0,56.0,0,1,11767,83.1583,C50,C
887,888,1,1,"Graham, Miss. Margaret Edith",0,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",1,26.0,0,0,111369,30.0000,C148,C

In [2]:
# Features Matrix
input_df = titanic_data.drop(["Survived", "PassengerId", "Name", "Ticket", "Cabin", "Embarked"], axis=1)

# Labels
output_df = titanic_data.Survived

In [3]:
from sklearn.model_selection import train_test_split

input_train, input_test, output_train, output_test = train_test_split(input_df, output_df, test_size=0.2)

### Importing RandomForestClassifier

In [4]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [5]:
clf.fit(input_train, output_train)

RandomForestClassifier()

In [6]:
clf.score(input_train, output_train)

1.0

In [7]:
clf.score(input_test, output_test)

0.7567567567567568

In [8]:
np.random.seed(69)
for i in range(10, 100, 10):
    print(f"Using {i} estimator")
    clf = RandomForestClassifier(n_estimators=i).fit(input_train,output_train)
    print(f"Train score : { clf.score(input_train, output_train) } \nTest Score : { clf.score(input_test,output_test)} ")
    print("")

Using 10 estimator
Train score : 0.958904109589041
Test Score : 0.7297297297297297

Using 20 estimator
Train score : 0.9931506849315068
Test Score : 0.7027027027027027

Using 30 estimator
Train score : 1.0
Test Score : 0.7837837837837838

Using 40 estimator
Train score : 0.9931506849315068
Test Score : 0.7567567567567568

Using 50 estimator
Train score : 1.0
Test Score : 0.7297297297297297

Using 60 estimator
Train score : 1.0
Test Score : 0.7837837837837838

Using 70 estimator
Train score : 1.0
Test Score : 0.7567567567567568

Using 80 estimator
Train score : 1.0
Test Score : 0.7567567567567568

Using 90 estimator
Train score : 1.0
Test Score : 0.7567567567567568

In [9]:
import pickle

pickle.dump(clf, open("classifier_model_1.pk1", "wb"))

In [ ]:
load_model = pickle.load(open)